{% extends 'base.html.twig' %}

{% block title %}Collégiens - Citoyens{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('admin/college/include/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>Tableau de bord</h5>

                    </div>
                </div>
                <div class="row" id="content_body">
                    <div class="col-12">
                        <p class="alert alert-info">
                            Ce tableau de bord vous permettre d'accéder :<br>
                            - l'édtion d'articles, <br>
                            - La personnalisation de votre page.
                        </p>
                    </div>
                </div>
            </div>
            {{ include('admin/college/include/_blocAdminCollege.html.twig') }}
        </div>
    </section>
{% endblock %}
