{% extends 'base.html.twig' %}

{% block title %}Op - Accueil{% endblock %}

{% block body %}
    <div id="App" class="container">Espace de connexion des collèges engagés dans le dispositif.</div>
{% endblock %}
