{% extends 'base.html.twig' %}

{% block title %}Espace Collège{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Archivage d'un article depuis le compte college
            function updateArticleArchived(event){
                event.preventDefault()
                const urlArchived = this.href
                // on ouvre une modal pour confirmer la demande d'archivage
                const warningArchived = document.getElementById('ModalWarning')
                warningArchived.addEventListener('show.bs.modal', function (event) {
                    var modalTitle = warningArchived.querySelector('.modal-title')
                    var modalBody = warningArchived.querySelector('.modal-body')
                    modalTitle.textContent = "Attention : Archivage de l'article"
                    modalBody.textContent = "Vous êtes sur le point de mettre en archive l'article, Etes-vous sur de vouloir continuer ?"
                    // sélection du bouton push
                    const btnPushReq = document.getElementById('btnPushReq')
                    btnPushReq.addEventListener('submit', function (event){
                        axios
                            .post(urlArchived)
                            .then(function(response){
                                const listeArticles = document.getElementById('listeArticles').innerHTML = response.data.listeArticles
                                // on réalise un toast de confirmation de l'action
                            })
                            .catch(function (error){
                                console.log(error)
                            })
                    })
                })
            }
            // Mise en place de l'écouteur d'évènement sur le lien Archivage
            document.querySelectorAll('a.btnArchived').forEach(function (link) {
                link.addEventListener('click', updateArticleArchived);
            })

        }
    </script>
{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('admin/college/include/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>LISTE DES ARTICLES PRODUIT PAR LE GROUPE</h5>
                        <p>Tous vos articles publiés sur votre page personelle sont listées ci-dessous.</p>
                    </div>
                </div>
                <div class="row" id="content_body">
                    <div class="col-12">
                        {{ render(controller('App\\Controller\\Webapp\\ArticlesController::listArticlesByCollege', {'idcollege': college.id})) }}
                    </div>
                </div>
            </div>
            {{ render(controller('App\\Controller\\Admin\\CollegeController:blocAdminCollege', {'id':college.id})) }}
        </div>
    </section>
{% endblock %}
