{% extends 'base.html.twig' %}

{% block title %}Collégiens-Citoyens{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('admin/college/include/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>METTRE A JOUR LES INFORMATIONS DU COLLEGE</h5>
                        <p>Sur cette page, vous pourrez modifier les informations dédiées à votre collège.</p>
                        <hr>
                    </div>
                </div>
                {{ include('admin/college/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
            {{ render(controller('App\\Controller\\Admin\\CollegeController::blocAdminCollege', {'id' : college.id})) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#college_GroupDescription'))
            .catch(error => {
                console.error(error);
            });
    </script>

{% endblock %}
