{% extends 'admin.html.twig' %}

{% block title %}Collégiens-Citoyens{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#college_GroupDescription'))
            .catch(error => {
                console.error(error);
            });
    </script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/college/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            {{ include('admin/college/include/_section_content_aside.html.twig') }}
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <h3>Modifier college</h3>
                    </div>
                    {{ include('admin/college/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}



