{% extends 'admin.html.twig' %}

{% block title %}New College{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            ClassicEditor
                .create(document.querySelector('#college_GroupDescription'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'indent', 'alignment' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
{%  endblock %}

{% block content%}
<div class="container-fluid">
    {{ include('admin/college/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            {{ include('admin/college/include/_section_content_aside.html.twig') }}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <div class="card">
                    {{ include('admin/college/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
