{% extends 'base.html.twig' %}

{% block title %}Collégiens - Citoyens{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Archivage d'un article depuis le compte college
            function deleteMessage(event){
                event.preventDefault()

                const urlDeleted = this.href

                // Déclaration de la modal
                let warningDeleted = document.getElementById('ModalWarning')
                // Personnalisation de la modal
                let modalTitle = warningDeleted.querySelector('.modal-title')
                modalTitle.textContent = "Attention : Suppression du message"
                let modalBody = warningDeleted.querySelector('.modal-body')
                modalBody.innerHTML = "<p>Vous êtes sur le point de supprimer votre message.</p><p>Etes-vous sur de vouloir continuer ?"
                // Ouverture de la modal
                let Deleted = new bootstrap.Modal(warningDeleted, {
                    backdrop:true,
                    focus:true,
                    keyboard:true
                })
                Deleted.show()
                // sélection du bouton push
                const btnPushReq = document.getElementById('btnPushReq')
                // comportement
                btnPushReq.addEventListener('click', function (event){
                    axios
                        .post(urlDeleted)
                        .then(function (response){
                            const listeMessages = document.getElementById('listeMessages').innerHTML = response.data.listeMessages
                            Deleted.hide()
                            // initialisation du toaster bootstrap
                            let toastHTMLElement = document.getElementById("toaster")
                            let message = response.data.message
                            let toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                            toastBody.innerHTML = "<p>" + message + "</p>";
                            let toastElement = new bootstrap.Toast(toastHTMLElement, {
                                animation: true,
                                autohide: true,
                                delay: 3000,
                            });
                            toastElement.show();
                            // Redéclaration des écouteurs d'évènement
                            // Suppression
                            document.querySelectorAll('a.btnDeleted').forEach(function (link) {
                                link.addEventListener('click', deleteMessage);
                            })
                        })
                        .catch(function (error){
                            console.log(error)
                        })

                })
            }

            // on sélectionne le bon lien
            document.querySelectorAll('a.btnDeleted').forEach(function (link) {
                link.addEventListener('click', deleteMessage);
            })
            // Incrémentation lors du clic de la valeur 1 sur IsArchived
        }
    </script>
{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('admin/college/include/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>LISTE DES MESSAGES RECUS</h5>
                        <p>Tous vos messages reçus sont listés ci-dessous</p>
                    </div>
                </div>
                <div class="row" id="content_body">
                    <div class="col-12" id="listeMessages">
                        {{ include('webapp/message/include/_listbyuser.html.twig') }}
                    </div>
                </div>
            </div>
            {{ include('admin/college/include/_blocAdminCollege.html.twig') }}
        </div>
    </section>
{% endblock %}
