{% extends 'base.html.twig' %}

{% block title %}Collégiens - Citoyens{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Archivage d'un article depuis le compte college
            function deleteMessage(event){
                event.preventDefault()
                const urlDeleted = this.href
                // on ouvre une modal pour confirmer la demande d'archivage
                //confirm("Vous êtes sur le point d'archiver l'article. Etes-vous sur de vouloir continuer")
                if (window.confirm("Vous êtes sur le point de supprimer le message. \nEtes-vous sur de vouloir continuer ?")) {
                    axios
                        .post(urlDeleted)
                        .then(function(response){
                            const listeMessages = document.getElementById('listeMessages').innerHTML = response.data.listeMessages
                            // on réalise un toast de confirmation de l'action
                            let option = {
                                animation: true,
                                autohide: true,
                                delay: 3000,
                            };
                            // initialisation du toaster bootstrap
                            let toastHTMLElement = document.getElementById("toaster");
                            let message = response.data.message;
                            let toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                            toastBody.textContent = message;
                            let toastElement = new bootstrap.Toast(toastHTMLElement, option);
                            toastElement.show();
                        })
                        .catch(function (error){
                            console.log(error)
                        })
                }
            }
            // on sélection le bon lien
            document.querySelectorAll('a.btnDeleted').forEach(function (link) {
                link.addEventListener('click', deleteMessage);
            })
            // Incrémentation lors du clic de la valeur 1 sur IsArchived
        }
    </script>
{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('espacecollege/dashboard/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>LISTE DES MESSAGES RECUS</h5>
                        <p>Tous vos messages reçus sont listés ci-dessous</p>
                    </div>
                </div>
                <div class="row" id="content_body">
                    <div class="col-12">
                        <div id="listeMessages">
                            {{ include('webapp/message/include/_listbyuser.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
            {{ include('espacecollege/dashboard/_blocAdminCollege.html.twig') }}
        </div>
    </section>
{% endblock %}
