{% extends 'admin.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block content %}
    <h1>Edit user</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('op_admin_user_index') }}">back to list</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
