{% extends 'admin.html.twig' %}

{% block title %}New user{% endblock %}

{% block content %}
<div class="container-fluid">
    {{ include('admin/user/include/_section_content_header.html.twig') }}
    <section id="op_admin_content_body">
        <div class="row g-2">
            {{ include('admin/user/include/_section_content_aside.html.twig') }}
            <div class="col-xs-12 col-sm-12 col-md-12 col-xl-10 col-xxl-10">
                <div class="card">
                    {% include 'admin/user/_form.html.twig' with [form, user] %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
