<div class="row">
    {% for ressource in ressources %}
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="..." alt="">
                <div class="card-body">
                    <div class="row">
                        <h3>{{ ressource.name }}</h3>
                    </div>
                </div>
                <div class="card-footer">
                    {{ ressource.category }}
                </div>
            </div>
        </div>
    {% else %}
        pas de ressource.
    {% endfor %}
</div>
