/*** Règles générales pour le body du site ***/
//*** ------------- Règles générales pour le body du site ---------------- ***//
html{
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  background-color: #FCFCFC;
  background-image: url("../images/fond_site.svg");
  background-repeat: repeat;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "GloriaHallelujah";
}
h1{
  font-size: 1.75rem;
}
h2{
  font-size: 1.5rem;
}
h3{
  font-size: 1.4rem;
}
h4{
  font-size: 1.15rem;
}
h5{
  font-size: 1.10rem;
}
h6{
   font-size: 1rem;
 }

.table-sm th, .table-sm td {
  padding: 0.3rem !important;
  border-bottom: 1px solid #dee2e6;
}

#spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
  flex-direction: column;
  z-index: 4;
  background-color: rgba(255,255,255,0.5);
}

.hidden {
  display: none;
}

#message dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0 !important;
}