<section class="container">
    <div class="row align-items-center">
        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 mb-4 aos-init aos-animate" data-aos="fade-right">
            <div class="border-large">
                <div class="border-sm flex-column">
                    <div>
                        <h1><img class="img-fluid" src="{{ asset('images/png/logojafrect.png') }}" alt="justafaire"></h1>
                    </div>
                    <div>
                        <p class="text-center text-intro">
                            Blandine et Pauline
                        </p>
                    </div>
                    <img src="{{ asset('images/svg/Fleches.svg') }}" alt="" style="width: 60%;">
                    <div>
                        <p class="text-center text-strong">contact@justafaire.fr / www.justafaire.fr</p>
                        <p class="text-center">
                            <a href="https://www.instagram.com/justafaire/" onclick="window.open(this.href); return false;"><i class="fab fa-instagram" size="2x"></i></a>&nbsp;
                            <a href="https://www.facebook.com/justafaire/" onclick="window.open(this.href); return false;"><i class="fab fa-facebook-square" size="2x"></i></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-6 aos-init aos-animate" data-aos="fade-left">
            <div class="text-center">
                <img class="img-fluid img-rounded" src="{{ asset('images/png/blan_paul_500x500.png') }}" style="width:400px;">
            </div>
        </div>

    </div>
</section>