<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col"><p>&copy; {{ "now"|date("Y") }} OpenGaia | Propulsé par Symfony 5.2 & bootstrap 5 - créer par <a href="https://www.openpixl.fr">OpenPixl</a></p></div>
            <div class="col">
                <p class="text-end">Version : 2.0.3</p>
            </div>
        </div>
    </div>
</footer>