{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            ClassicEditor
                .create(document.querySelector('#message_content'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'indent', 'alignment' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });
            // Select Recipient
            const tsrecipient = new TomSelect("#message_recipient",{
                plugins: ['remove_button'],
                create: true,
                onItemAdd:function(){
                    this.setTextboxValue('');
                    this.refreshOptions();
                },
                render:{
                    option:function(data,escape){
                        return '<div class="d-flex"><span>' + escape(data.data) + '</span><span class="ms-auto text-muted">' + escape(data.value) + '</span></div>';
                    },
                    item:function(data,escape){
                        return '<div>' + escape(data.data) + '</div>';
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('espacecollege/dashboard/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container"  id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>ECRIRE UN MESSAGE</h5>
                        <p>Vous pouvez envoyer un message à un collège ou plusieurs inscrit dans le dispositif.</p>
                        <hr>
                    </div>
                </div>
                {{ include('webapp/message/_form.html.twig') }}
            </div>
            {{ include('espacecollege/dashboard/_blocAdminCollege.html.twig') }}
        </div>
    </section>
{% endblock %}