{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            function onClickaddCategory(event){
                event.preventDefault();
                const name = document.getElementById('ressource_cat_name').value;
                const parent = document.getElementById('ressource_cat_parent').value;
                const url = "/admin/ressourcescat/new";
                axios
                    .post(url,{name:name, parent:parent})
                    .then(function(response)
                    {
                        const select = document.getElementById('ressources_category');
                        const options = document.createElement("option");
                        options.text = response.data.category;
                        select.add(options)

                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };

                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
            }

            // déclaration de l'event sur js-add-catégory
            document.querySelectorAll('a.js-add-category').forEach(function(link){
                link.addEventListener('click', onClickaddCategory)
            })
        }
    </script>
{% endblock %}

{% block body %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('admin/college/include/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>MODIFIER UN ARTICLE</h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ include('webapp/ressources/_form.html.twig') }}
                    </div>
                </div>
            </div>
            {{ render(controller('App\\Controller\\Admin\\CollegeController:blocAdminCollege', {'id': college.id})) }}
        </div>
    </section>
{% endblock %}