{% extends 'base.html.twig' %}

{% block title %}New Ressources{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            ClassicEditor
                .create(document.querySelector('#ressources_content'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'indent', 'alignment' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
{% endblock %}

{% block content %}
    <section class="container" id="espace_college_header">
        <div class="row" id="content">
            {{ include('admin/college/include/_header_college.html.twig') }}
        </div>
    </section>
    <section class="container" id="espace_college_content">
        <div class="row">
            <div class="col-9" id="content">
                <div class="row" id="content_title">
                    <div class="col-12">
                        <h5>CREER UN NOUVEL ARTICLE</h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ include('webapp/ressources/_form.html.twig') }}
                    </div>
                </div>
            </div>
            {{ render(controller('App\\Controller\\Admin\\CollegeController:blocAdminCollege', {'id': article.college})) }}
        </div>
    </section>
{% endblock %}
