<div class="row">
    <div class="col-3 g-0">
        {#
            Le code javascript pour la mise en marche du script se trouve sur le fichier :
            "template/webapp/page/page.html.twig"
        #}
        {{ include('webapp/ressources/include/_filters.html.twig') }}
    </div>

    <div id="liste" class="col-9">
        {{ include('webapp/ressources/include/_contentSectionList.html.twig') }}
    </div>
</div>