{% extends 'admin.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ include('webapp/articles/include/_section_content_header.html.twig') }}
        <section id="op_admin_content_body">
            <div class="row g-2">
                <div class="col-2">
                    {{ include('webapp/articles/include/_section_content_aside.html.twig') }}
                </div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4>Liste des articles</h4>
                                    <p>Créer, Modifier ou supprimer des articles du site</p>
                                </div>
                                <div id="op_actions">
                                    <button class="btn btn-sm btn-outline-secondary">Supprimer</button>
                                </div>
                            </div>
                            <div id="liste">
                                {{ include('webapp/articles/include/_liste.html.twig') }}
                            </div>
                            {# module de pagination hérité de KnpPaginator #}
                            <div class="navigation">
                                {# Ajout du template personnalisé pour la pagination en fin du block #}
                                {{ knp_pagination_render(articles, 'include/pagination.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
