{% extends 'admin.html.twig' %}

{% block title %}Collégiens-citoyens{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function() {
            ClassicEditor
                .create(document.querySelector('#articles_content'), {
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ include('webapp/articles/include/_section_content_header.html.twig') }}
        <section id="op_admin_content_body">
            <div class="row g-2">
                <div class="col-2">
                    {{ include('webapp/articles/include/_section_content_aside.html.twig') }}
                </div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                            <h3>Créer un article</h3>
                        </div>
                        {{ include('webapp/articles/_form2.html.twig') }}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}