{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Collégiens-Citoyens - administration' %}

{% block page_content %}
<section>
    <div class="row">
        <div class="col-6">LISTE DES DERNIERS ARTICLES</div>
        <div class="col-6">LISTE DES DERNIERS COMMENTAIRES</div>
    </div>
</section>

{% endblock %}
