<section id="op_admin_content_header">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Gestion des catégories de ressources.</h3>
        </div>
    </div>
</section>