{% if app.request.get('_route') == 'op_webapp_page_index'%}
    {% if not pages %}
        {% set lastposition = 0 %}
    {% else %}
        {% set lastposition = '' %}
        {% for page in pages %}
            {% if loop.last %}{% set lastposition = page.position %}{% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
<div class="card">
    <div class="card-body">
        {% if app.request.get('_route') == 'op_webapp_page_index'%}
        <h4><a href="{{ path('op_webapp_page_newposition', {'position': lastposition}) }}"><i class="far fa-plus-square"></i> Nouvelle page</a></h4>
        {% elseif app.request.get('_route') == 'op_webapp_page_new' or app.request.get('_route') == 'op_webapp_page_newposition' %}
        <h4 class="text-muted"><i class="far fa-plus-square text-muted"></i> Nouvelle page</h4>
        {% else %}
        <h4><a href="{{ path('op_webapp_page_new') }}"><i class="far fa-plus-square"></i> Nouvelle page</a></h4>
        {% endif %}
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h3>{% if app.request.get('_route') == 'op_webapp_page_index'%}
        <a href="{{ path('op_admin_dashboard_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
        {% else %}
        <a href="{{ path('op_webapp_page_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
        {% endif %}</h3>
    </div>
</div>