<div class="card">
    <div class="card-body">
        <h4><a href="{{ path('op_webapp_articles_new') }}"><i class="far fa-plus-square"></i> Nouvel article</a></h4>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>
            {% if app.request.get('_route') == 'op_webapp_articles_index'%}
                <a href="{{ path('op_admin_dashboard_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
            {% else %}
                <a href="{{ path('op_webapp_articles_index') }}"><i class="fas fa-chevron-circle-left"></i> Retour</a>
            {% endif %}
        </h4>
    </div>
</div>